body {
  background-color: purple;
  background-image: url('world.gif')
}

#main {
  margin: auto;
  width: 90%;
}

#banner {
  background-color: lightseagreen;
  margin: auto;
  margin-bottom: 8px;
  border: 5px solid yellowgreen;
  text-align: center;
  font-size: 3em;
}

#killbutton {
  background-color: red;
  border: 5px solid white;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 3em;
}